.result {
    outline: 1px solid #6868ad;
    outline-offset: -1px;
    padding: 1rem;
    position: relative;
    margin: 1.5em 0;

    &::before {
        content: "RESULT";
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        font-size: 0.75em;
        padding: 0 0.4rem;
        background-color: #6868ad;
        transform: translateY(-100%);
    }
}
