extends ../../shared/_layout.pug

block content
    +docs-heading('input-counter', 'Input Counter')
        p Component with input to choose numeric values and describe quantity.

        div.result
            <section class="input-counter">
                <div class="input-counter_content">
                    <button class="input-counter_button is-disabled">-</button>
                    <span class="input-counter_value">1</span>
                    <button class="input-counter_button">+</button>
                </div>
                <div class="input-counter_loading"></div>
            </section>

        p
            | You can add #[code is-active] class to disable each button. 

        pre.code(data-lang='HTML')
            code
                :highlight(lang="html")
                    <section class="input-counter">
                        <div class="input-counter_content">
                            <button class="input-counter_button">-</button>
                            <span class="input-counter_value">1</span>
                            <button class="input-counter_button">+</button>
                        </div>
                        <div class="input-counter_loading"></div>
                    </section>