.cart-store {
    width: max-content;
    height: 57px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    
    .cart-store-name {
        padding: 5px 8px;
        border: 1px solid $color-secondary;
        color: $color-secondary;
        border-radius: 20px;
        text-align: center;
        font-size: $font-size-s;
        font-weight: $font-weight-medium;
        min-width: 94px;
    }
}
