.product-page {

  .product-description {
    &_title {
      font-weight: $font-weight-demibold;
      margin-bottom: 20px;
    }

    .product-store {
      margin-top: 12px;
      margin-bottom: 12px;
      align-items: center;


      .badge {
        margin-left: 1rem;
        font-size: $font-size-m;

        span {
          color: $color-text-light;
          display: inline-block;
          padding: 5px 10px;
          border: 1px solid #d2d2d2;
          border-radius: 4px;

          ion-icon{
            vertical-align: middle;
          }
        }
      }

      a {
        font-weight: $font-weight-demibold; //$font-weight-medium
        color: $color-text;
      }
    }
  }

  .product-rating {
    margin-top: 12px;
    margin-bottom: 12px;

    .rating-starts {
      width: 50%;
      ion-icon {
        font-size: 22px;
        margin-right: 4px;
        color: $color-primary-dark;
      }
    }

    .rating-reviews {
      width: 50%;
      text-align: right;
      color: $color-text-light;
      font-size: $font-size-m;
    }
  }

  .product-price {
    label{
      font-size: 0.8rem;
    }

    .old-price{
text-decoration: line-through;
    }

    .unit-price {
      font-size: $font-subtitle-m;
      font-weight: $font-weight-bold;
      color: $color-primary;
    }
  }

  // TODO: Delete it
  .product-variations {
    margin-top: 16px;
    margin-bottom: 16px;

    .product-variation-color {
      &_label {
        font-size: $font-size-m;
        font-weight: $font-weight-medium;
        color: $color-text;
        margin-bottom: 8px;
      }

      &_images {
        .product-variation-color_image {
          width: 60px;
          height: 60px;
          object-fit: contain;
          background: white;
          opacity: 0.5;
          margin-right: 0.5rem;
          cursor: pointer;
        }

        .product-variation-color_image-selected {
          opacity: 1;
          border: 1px solid $color-interface;
        }
      }
    }

    .product-variation-size {
      margin-top: 12px;

      &_label {
        font-size: $font-size-m;
        font-weight: $font-weight-medium;
        color: $color-text-light;
        margin-bottom: 8px;
      }

      &_container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .button-wrapper{
           
            .size-button{
                padding: 9px 10px;
                box-sizing: border-box;
                font-size: $font-size-l;
                width: auto;
                min-width: 44px;
                height: 41px;
                line-height: 19px;
                font-weight: $font-weight-medium;
                border-radius: 3px;
                margin: 0 8px 8px 0;
                color: $color-text-grey;
                border: 1.1px solid #e6e6e6;
                background-color: #f9f9f9;

                &_selected{
                    border-color: $color-interface;
                    color: $color-interface;
                }
            }
        }
      }
    }
  }

  .product-quantity {
    margin-bottom: 1rem;
    width: 50%;

    label{
      font-size: 0.8rem;
    }

    // TODO: Remove it.
    .quantity-button {
      button {
        width: 28px;
        height: 28px;
        background-color: $color-text-light;
        border-radius: 100%;
        color: $color-white;

        &.disabled {
          background-color: #cdd1d3;
          cursor: not-allowed;
        }
      }

      ion-icon {
        font-size: 20px;
        vertical-align: top;
      }
    }
  }

  .product-info {
    .info-label {
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      font-size: $font-size-m;
      line-height: 30px;
    }

    .info-link {
      font-weight: $font-weight-bold;
      text-decoration: underline;
      color: $color-interface;
      line-height: 40px;
    }
  }

  .product-total {
    &-mobile {
      margin-top: 18px;
      width: 50%;
      justify-content: right;
      display: inline-grid;

      .total {
        font-size: $font-subtitle-s;
        font-weight: $font-weight-medium;
      }
    }

    .total {
      font-size: $font-subtitle-s;
      font-weight: $font-weight-medium;
      margin-bottom: 32px;
    }
  }
}

@include respond(desktop) {
  .product-container {
    label {
      font-size: $font-size-m;
    }

    .product-total {
      padding: 0 24px;
    }

    // .product-quantity {
    //   margin-top: 18px;
    //   margin-bottom: 18px;
    // }
  }
}
