.text{
    &-center{
        text-align: center;
    }
    &-left{
        text-align: left;
    }
    &-right{
        text-align: right;
    }
}

.center-item{
    justify-content: center;
    display: flex;
}

.d{
    &-flex{
        display: flex;
    }
    &-inline{
        display: inline;
    }
    &-inline-flex{
        display: inline-flex;
    }
    &-block{
        display: block;
    }
}

.auto{
    margin: auto;
}

.text{
    &-dark{
        color: $color-text;
    }
    &-grey{
        color: $color-text-grey;
    }
    &-light{
        color:$color-text-light;
    }
    
}

.disabled{
    opacity: 0.59;
}

.w100 {
    width: 100%;
}